/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */


@import url('https://fonts.cdnfonts.com/css/curlz');

html{
}


body {
  background-color: #231981;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}

h1 {
  color: #231981;
  background-color: #ffffff;
  font-style: bold;
  font-size: 300%;
  border-radius: 4px;
}

h2 {
  color: #ffffff;
  font-style: oblique;
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
}

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

a:hover {
  color: #000000;
}

ul {
  background-color: #231981;
}

img {
  width: 200px;
  height: auto;
}